# Copiar este archivo como .env y completar los valores
# cp .env.example .env

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Credenciales seguras para la API
API_DB_USER=
API_DB_PASSWORD=

# MongoDB
MONGO_DB=
MONGO_PORT=
MONGO_USER=
MONGO_PASSWORD=
MONGODB_URL=